<h3>投稿作品一覧</h3>


 <table class="table table=striped">
     <tr>
      <th style="width: 5%;">ID</th>
      <th style="width: 10%;">投稿日時</th>
      <th style="width: 30%;">投稿画像</th>
      <th style="width: 15%;">投稿者</th>
      <th style="width: 15%;">作品名</th>
      <th style="width: 15%;">作品情報</th>
      <th style="width: 10%;">
        <%= form_tag(admin_items_path, method: "get") do %>
            <div class="input-group">
              <%= select_tag :genre, options_for_select({ 絵:1,陶芸:2,彫刻:3,工芸:4,書:5}), include_blank: "ジャンル一覧" %>
              <%= submit_tag "絞り込み", class:"btn btn-sm btn-secondary" %>
            </div>
          <% end %></th>
    </tr>
  <% @items.each.each.with_index(1) do | item, i | %>
      <tr>
      	<td>
          <% if params[:page].nil? %>
            <%= i %>
          <% else %>
            <%= i + (params[:page].to_i - 1) * 10 %>
          <% end %>
        </td>
        <td><%= item.created_at.strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= link_to admin_item_path(item) do %>
          <%= attachment_image_tag item, :image, :fill, 150, 150 %></td>
          <% end %>
          <td><%= link_to item.user.name, "/admin/users/#{item.user.id}" %></td>
        <td> <%= link_to item.name,admin_item_path(item) %> </td>
        <td>お気に入り数<%= item.bookmarks.count %></br>
        視聴者数<%= item.impressionist_count %><br>
        コメント数<%= item.comments.count %>
      </td>
        <td><%= item.genre.name %></td>
      </tr>
    <% end %>
 </table>
<%= paginate @items %>



