<h1>作品詳細</h1>

<%= attachment_image_tag @item, :image %>

        <table class="table">
          <tbody>
            <tr>
              <th>作品名</th>
              <th><%=@item.name %></th>
            </tr>
            <tr>
              <th>作品説明</th>
              <th><%=@item.description %></th>
            </tr>
            <tr>
              <th>投稿日時</th>
              <th><%= @item.created_at.strftime('%Y/%m/%d %H:%M') %></th>
            </tr>
            <tr>
            <th>投稿者</th>
            <th><%=link_to @item.user.name, "/admin/users/#{@item.user_id}" %></th>
            </tr>

              <tr>
              <th>視聴者数</th>
              <th><%= @item.impressionist_count %></th>
            </tr>



<small>コメント数：<%= @item.comments.count %>件</small></p>

<% if @item.comments.present? %>
<% @item.comments.each.with_index(1) do | comment, i| %>

<tr>
<td><%= i %></td>
<td><%= comment.user.name %></td>
<td><%= comment.content %></td>
<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
<td><%= button_to "削除する",item_comments_path(comment.id),method: :delete,data: {confirm: "本当に消しますか？"} %></td>
<% end %>

<% else %>
現在コメントはありません
<% end %>
</tr>
          </tbody>
        </table>


<%= link_to "作品を削除する",admin_item_path,method: :delete,data: {confirm: "本当に消しますか？"},class: "btn btn-danger btn-sm" %>