<h1>作品詳細</h1>

<%= attachment_image_tag @item, :image %>

    <table class="table">
      <tbody>

<!-- いいね機能 -->
        <td>
          <% if @item.favorited_by?(current_user) %>
            <%= link_to item_favorites_path(@item, redirect_id: 0), method: :delete do %>
              <i class="fas fa-heart unlike-btn"><%= @item.favorites.count%></i>
            <% end %>
          <% else %>
            <%= link_to item_favorites_path(@item, redirect_id: 0), method: :post do %>
              <i class="far fa-heart like-btn" ></i><%= @item.favorites.count %></i>
            <% end %>
          <% end %>
        </td>



        <tr>
          <th>作品名</th>
          <th><%=@item.name %></th>
        </tr>
        <tr>
          <th>作品説明</th>
          <th><%=@item.description %></th>
        </tr>
        <tr>
          <th>投稿日時</th>
          <th><%= @item.created_at.strftime('%Y/%m/%d %H:%M') %></th>
        </tr>
        <tr>
        <th>投稿者</th>
        <th><%=link_to @item.user.name, "/users/#{@item.user_id}" %></th>
        </tr>

          <tr>
          <th>視聴者数</th>
          <th><%= @item.impressionist_count %></th>
        </tr>


           <%= form_for @comment,url:item_comments_path(@item) do |f| %>
                  <%= f.text_area :content %>
                  <%= f.submit 'レビューする' %>
            <% end %>

<small>コメント数：<%= @item.comments.count %>件</small></p>

<% counter = 0 %>
<% @item.comments.each do |comment| %>



<tr>
<td><%= counter =+ 1 %></td>
<td><%= comment.user.name %></td>
<td><%= comment.content %></td>
<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
<% if current_user == comment.user %>
<td><%= button_to "削除する",item_comments_path(comment.id),method: :delete,data: {confirm: "本当に消しますか？"} %></td>
<% end %>
<% end %>
</tr>


          </tbody>
        </table>

