<% random = Random.rand(1 .. 2) %>

<div class= "col-xl mx-auto" style="border:4px solid RGB(204,204,153); border-radius: .5rem; width:30rem">
    <div class="text m-2 h2">芸術の森へようこそ</div>
    <div class=" text m-2">
      当サイトへ初めてお越しになられた方は</br>
      <%= link_to '「初めての方はこちら」', about_path %>をご覧ください
    </div>
</div>


<!-- #トップページ動画 -->
   <div class="movie">
      <video id="player1" width="100%" height="500px" preload="none" autoplay loop muted >
      <source src="/movie/top<%= random %>.mp4" type="video/mp4" />
      </video>
   </div>

    <div class="row">
     <div class= "col-lg">
          <% @items.each do | item | %>
          <div class="card m-1 d-inline-block">
          <%= attachment_image_tag item,:image, :fill, 300, 300 %>
          <h6 class="card-title text-center m-3"><%= item.name %></h6>
          <p class="card-text text-center mb-3"><small>
           <%= attachment_image_tag item.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", style: "width: 50px; height: 50px;" %>
          <%= item.user.name %></small></p>
          </div>
          <% end %>
        </div>
    </div>


<style>
.col-xl{
 background-color:#fffaf0;
 text-align:center;
}
.col-lg{
 text-align:center;
}

.movie{
 padding:2.5rem 0 2rem 0;
}
.text{
 font-family: ＭＳ Ｐゴシック;
}



</style>


