<h3>フォローしている人</h3>
<% if @users.count > 0 %>
  <table class='table'>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to admin_user_path(user) do %>
          <%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", style: "width: 50px; height: 50px;" %>
            <% end %></td>
        <td><%= link_to user.name,admin_user_path(user) %></td>
        <td>フォロー数：<%= user.follower.count %></td>
        <td>フォロワー数：<%= user.followed.count %></td>
      </tr>
    <% end %>
  </table>

  <% else %>
   <p>フォローしている人はいません</p>
  <% end %>
<%= paginate @users %>