

<% if @bookmarks.present? %>
 <p>お気に入りリスト(全<%= @bookmarks.count %>件)</p>

  <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <% @bookmarks.each do | bookmark | %>
     <tr>
      <td><%= link_to  item_path(bookmark.item) do %>
          <%= attachment_image_tag bookmark.item, :image, :fill, 180, 180 %></td>
            <% end %>
      <td width=100 align=center>
        <%= link_to bookmark.item.name, item_path(bookmark.item),style:"text-decoration:none;" %></td>
      <td width=200 align=center>
        <%= attachment_image_tag bookmark.item.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", style: "width: 50px; height: 50px;"  %>
        <%= link_to bookmark.item.user.name, user_path(bookmark.item.user),style:"text-decoration:none;" %></td>
      <td width=300 align=center><%= link_to "お気に入りから外す", item_bookmarks_path(bookmark.item.id), method: :delete ,style:"text-decoration:none;"%></td>
     </tr>
    <% end %>

   <% else %>
   <div class="nothing" style="margin-top:50px;">
    お気に入り作品は現在ありません
   </div>
   <% end %>
  </table>

<%= paginate @bookmarks %>


