<h1>ログイン後トップページ</h1>


<h2><%= link_to "絵", users_items_path  %></h2>
<h2><%= link_to "陶芸", users_items_path  %></h2>
<h2><%= link_to "工芸", users_items_path  %></h2>
<h2><%= link_to "彫刻", users_items_path  %></h2>
<h2><%= link_to "書", users_items_path  %></h2>



















