<h3>会員詳細</h3>


<div class="card p-3">
  <div class="card-body">
   <p>
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", style: "width: 100px; height: 100px;"  %></p>
  </div>

  <div class="card-text">
   <% if @user.is_cancel == false %>
    <p><span class="ml-2 badge badge-pill badge-success">有効会員</span></p>
   <% else %>
    <p><span class="ml-2 badge badge-pill badge-danger">無効会員</span></p>
   <% end %>
  </div>

  <table width=800>
  	<tr>
    	<td width=150>会員ID</td>
    	<td><%= @user.id %></td>
    <tr>
    <tr>
    	<td>名前</td>
    	<td><%= @user.name %></td>
    </tr>
    <tr>
    	<td>性別</td>
    	<td><%= @user.sex %></td>
    </tr>
    <tr>
    	<td>年齢</td>
    	<td><%= @user.age %></td>
    </tr>
    <tr>
    	<td>住所</td>
    	<td><%= @user.prefecture %></td>
    </tr>
    <tr>
    	<td>メールアドレス</td>
    	<td><%= @user.email %></td>
    </tr>
    <tr>
    	<td>HP</td>
    	<td><%= @user.hp_address %></td>
    </tr>
    <tr>
    	<td>SNS</td>
    	<td><%= @user.sns_address %></td>
    </tr>
    <tr class="intro">
    	<td vAlign=top>自己紹介</td>
    	<td vh=30><%= @user.self_introduction %></td>
    </tr>
    <tr>
    	<td>レベル</td>
    	<td><%= @user.level %></td>
    </tr>
    <tr>
    	<td>フォロー数</td>
    	<td><%= link_to @user.followed.count, follows_admin_user_path(@user),style:"text-decoration:none;" %></td>
    </tr>
    <tr>
    	<td>フォロワー数</td>
    	<td><%= link_to @user.follower.count, followers_admin_user_path(@user),style:"text-decoration:none;" %></td>
    </tr>
    <tr>
    	<td>お気に入り</td>
    	<td><%= link_to @user.bookmarks.count, admin_user_bookmarks_path(@user),style:"text-decoration:none;" %></td>
    </tr>
  </table>

  <div class="m-4 text-right">
   <%= link_to '会員編集する',edit_admin_user_path(@user),class:"btn btn-outline-primary",style:"text-decoration:none;" %>
  </div>

</div>



  <div class="card mt-4 p-3">
     <h3>投稿作品一覧</h3>
      <table>
        <tr>
          <th align=center width=50></th>
          <th width=50>作品名</th>
          <th width=50></th>
        </tr>

    		<tr>
    		 <% if @items.present? %>
    		  <% @items.each do |item| %>
    		   <td align=center><%= link_to admin_item_path(item) do %>
    		    <%= attachment_image_tag item,:image, :fill, 150, 150 %>
    		      </td>
    		    <% end %>
    		   <td align=left>
    		    <%= link_to item.name,admin_item_path(item),style:"text-decoration:none;" %>
    		   </td>
    		   <td align=left>
    		    <%= link_to '投稿作品編集',edit_admin_item_path(item),class:"btn btn-outline-primary",style:"text-decoration:none;" %>
    		   </td>
    		</tr>
         <% end %>
    		 <% else %>
    		  <p>投稿作品はありません</p>
    		 <% end %>
	    </table>
	 <%= paginate @items %>
  </div>


<div class="card mt-4 p-3">
  コメント一覧(<%= @user.comments.count %>)
    <table>
    	<th>
    	<td>コメント内容</td>
    	<td>作品名</td>
    	<td>投稿日時</td>
    	</th>
    <% @comments.each.with_index(1) do | comment, i| %>

    	<tr>
    	<td></td>
    	<td><%= comment.content %></td>
    	<td><%= comment.item.name %></td>
    	<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    	<td><%= button_to "削除する",item_comments_path(comment.id),method: :delete,data: {confirm: "本当に消しますか？"} %></td>
    	</tr>
    	<% end %>
    	</table>
	 <%= paginate @comments %>
</div>

<style>
.intro{
  white-space: pre-line;
}
</style>

