<h1>会員詳細</h1>


<p>プロフィール画像
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", style: "width: 100px; height: 100px;"  %></p>



<% if @user.is_cancel == false %>
   <p><span class="ml-2 badge badge-pill badge-success">有効会員</span></p>
  <% else %>
    <p><span class="ml-2 badge badge-pill badge-danger">無効会員</span></p>
  <% end %>


<p>会員ID
<%= @user.id %></p>
<p>名前
<%= @user.name %></p>
<p>性別
<%= @user.sex %></p>
<p>年齢
<%= @user.age %></p>
<p>住所
<%= @user.prefecture %></p>
<p>メールアドレス
<%= @user.email %></p>
<p>HP
<%= @user.hp_address %></p>
<p>SNS
<%= @user.sns_address %></p>
<p>自己紹介
<%= @user.self_introduction %></p>
<p>レベル
<%= @user.level %></p>
<p>フォロー数
<%= link_to @user.follower.count, follows_admin_user_path(@user) %></p>
<p>フォロワー数
<%= link_to @user.followed.count, followers_admin_user_path(@user) %></p>
<p>お気に入り
<%= link_to @user.favorites.count, admin_user_bookmarks_path(@user) %></p>


<h3>投稿作品一覧</h3>
<table>
<tr>
<% if @items.present? %>
<% @items.each do |item| %>
<td><%= link_to admin_item_path(item) do %>
<%= attachment_image_tag item,:image, :fill, 100, 100 %>
</td>
<% end %>
<td>
<%= link_to item.name,admin_item_path(item) %>
</td>
<td>
<%= link_to '投稿作品編集',edit_admin_item_path(item) %>
</td>
</tr>
<% end %>
</table>

<%= paginate @items %>

<% else %>
<p>投稿作品はありません</p>
<% end %>





コメント一覧(<%= @user.comments.count %>)
<table>
<th>
<td>ID</td>
<td>コメント内容</td>
<td>作品名</td>
<td>投稿日時</td>
</th>
<% @comments.each.with_index(1) do | comment, i| %>


<tr>
<td><td><%= i %></td></td>
<td><%= comment.content %></td>
<td><%= comment.item.name %></td>
<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
<td><%= button_to "削除する",item_comments_path(comment.id),method: :delete,data: {confirm: "本当に消しますか？"} %></td>
</tr>
<% end %>
</table>
<%= paginate @comments %>












<%= link_to '会員編集する',edit_admin_user_path(@user) %>
