<h2>登録情報編集 <%= resource_name.to_s.humanize %></h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<%= f.label :profile_image,"プロフィール画像" %>
<%= f.attachment_field :profile_image %><br />


<%= f.label :name,"名前" %>
<%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control" %><br />

<%= f.label :age,"年齢" %>
<%= f.text_field :age, autofocus: true, autocomplete: "age", class:"form-control" %><br />

<%= f.label :住所 %>
<%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %><br />


<%= f.label :hp_address, "HP" %>
<%= f.text_field :hp_address, autofocus: true, autocomplete: "hp_address", class:"form-control" %><br />

<%= f.label :sns_address, "SNS" %>
<%= f.text_field :sns_address, autofocus: true, autocomplete: "sns_address", class:"form-control" %><br />

<%= f.label :self_introduction, "自己紹介" %>
<%= f.text_area :self_introduction, autofocus: true, autocomplete: "self_introduction", class:"form-control" %><br />

<%= f.label :email %>
<%= f.email_field :email, autofocus: true, autocomplete: "email" %><br />

<%= f.submit "編集内容を保存する" %>

<% end %>

<p><%= button_to "退会する", cancel_users_path %></p>
