<!DOCTYPE html>
<html>
  <head>
    <title>Geijyutunomori</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>


  <body>
   <div class="wrapper">
    <header class="sticky-top">
      <% if request.path.include?('admin') %>
        <%= render 'layouts/admin',admin: @admin %>
      <% else %>
        <%= render 'layouts/user',user: @user %>
      <% end %>
    </header>
    <div class="container">
    <%= yield %>
   </div>
   </div>

    <% if request.path.include?('about') %>
    <% else %>
    <footer class="border-top mt-5">
      <div class="container mt-4">
       <div class="row">
        <dl class= "col-sm-6 text-center">
          <div class="footer_text">
            <dd class="footer_dd">ご利用ガイド</dd>
            <dd class="footer_dd">よくあるご質問</dd>
            <dd class="footer_dd">お問い合わせ</dd>
          </div>
        </dl>
        <dl class= "col-sm-6 text-center">
          <div class="footer_text">
            <dt class= "footer_dt mb-2">コミュニティ</dt>
            <dd class= "footer_dd"><i class="fab fa-instagram"></i> Instagram</dd>
            <dd class="footer_dd"><i class="fab fa-facebook-square"></i> Facebook</dd>
            <dd class="footer_dd"><i class="fab fa-twitter"></i> Twitter</dd>
            <dd class="footer_dd"><i class="fab fa-line"></i> Line</dd>
            <dd class="footer_dd"><i class="fab fa-youtube"></i> Youtube</dd>
          </div>
        </dl>
       </div>
      </div>
    </footer>
    <% end %>

   </div>
  </body>

</html>



<style>
.border-top{
  background-color:#E6FFE9;
  }

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.footer border-top mt-5{
  width: 100%;
  text-align: center;
  padding: 30px 0;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

</style>




